{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <div class="m4 jumbotron">
        <div class="lead">
            Hello, {{ app.user.username }}
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <button class="btn btn-primary">Edit</button>
            {% endif %}
            {% if 'ROLE_EDITOR' in app.user.roles %}
                <button class="btn btn-info">Comment</button>
            {% endif %}
        </div>
        {% if app.user.firstName %}
            <div class="h2">
                <a href="{{ app.user.firstName }}">{{ app.user.firstName }}</a>
                <span class="badge badge-secondary">First Name</span>
            </div>
        {% endif %}
    </div>


    <div class="jumbotron">
        <a class="btn btn-info btn-lg" href="{{ path('home') }}">My home</a>
    </div>
{% endblock %}
