{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div id="root">Loading...</div>
<div>
    Versija <b id="version">...</b>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var needVersion = true;
        var needReact = true;
    </script>
    {{ parent() }}
{% endblock %}
