{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
Čia kažkur bus sąrašas


    <a href="{{ path('studentas') }}">Studetų puslapis</a>
    <a href="{{ path('kompas') }}">Studetų puslapis</a>
    <a href="{{ path('home') }}">Studetų puslapis</a>
{% endblock %}
